@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  background-color: #071829;
  color: #f8fafc;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial;
}

/* FLEX COLLAPSE FIX */
.flex {
  min-height: 0;
}

/* SECTION FIX */
section {
  position: relative;
  width: 100%;
}
