@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== ATL DARK THEME ===== */
:root {
  --background: #071829;
  --foreground: #f8fafc;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial;
}
